<!-- <div class="fundo-triangulo"></div> -->
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<!-- <ion-label color="light" class="componente-layout-padrao" style="top: 100px">Bem-vindo (a)</ion-label>
<h1 class="componente-layout-padrao" style="top: 100px;">
  <ion-label color="light">Vitor Bastos</ion-label>
</h1>
<ion-searchbar style="position: absolute;top: 150px;" placeholder="Pesquisar por linha">
</ion-searchbar>
<ion-button style="position: absolute;top: 205px; text-align: right; right: 5px; background: white" color="tertiary" fill="outline">
  <ion-icon name="options"></ion-icon>
  Filtrar
</ion-button> -->