<div class="fundo-triangulo"></div>






<ion-content #conteudo style="position: absolute; top: 200px;">
  <div *ngIf="onibus !== undefined && onibus.unidades !== undefined">
    <ion-card *ngFor="let bus of onibus.unidades; let i = index;" style="background: white;">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col align-self-end size="3">
              <ion-card-title>{{bus.properties.linha}}</ion-card-title>
            </ion-col>
            <ion-col size="5">
            </ion-col>
            <ion-col align-self-center size="3">
              {{onibus.faixaTarifaria.tarifa | currency:'BRL':true }}
            </ion-col>
            <ion-col align-self-end style="text-align: right;" size="1">
              <ion-icon name="locate" style="height: 25px; width: 25px; vertical-align: middle;"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <b>Linha: </b>
            </ion-col>
            <ion-col>
              {{onibus.descricao}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <b>Sentido: </b>
            </ion-col>
            <ion-col>
              {{onibus.sentido}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>







<ion-label color="light" class="componente-layout-padrao" style="top: 100px">Bem-vindo (a)</ion-label>
<h1 class="componente-layout-padrao" style="top: 100px;">
  <ion-label color="light">Vitor Bastos</ion-label>
</h1>
<ion-searchbar style="position: absolute;top: 150px;" placeholder="Pesquisar por linha" [(ngModel)]="linha"
  (keydown)="consultaPosicaoOnibus($event)">
</ion-searchbar>
<!-- <ion-icon name="options" style="position: absolute; top: 250px; right: 6px;"></ion-icon> -->